<!-- Side navigation -->
<section id="side-bar">
  <div class="browse">
    <p>Browse</p>
    <ul class="side-bar-actions">
      <li>
        <a>Romance</a>
      </li>
      <li>
        <a>Adventure</a>
      </li>
      <li>
        <a>Action</a>
      </li>
      <li>
        <a>Drama</a>
      </li>
      <li>
        <a>Horror</a>
      </li>
      <li>
        <a>Comedy</a>
      </li>
      <li>
        <a>Angst</a>
      </li>
      <li>
        <a>Other</a>
      </li>
    </ul>
  </div>
  <div class="community">
    <p>Community</p>
    <ul class="side-bar-actions">
      <li>
        <a>Authors</a>
      </li>
      <li>
        <a>Groups</a>
      </li>
      <li>
        <a>Events</a>
      </li>
    </ul>
  </div>
</section>