body {
  font-family: "Merriweather", sans-serif;
}

#side-bar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 100px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(222, 220, 220); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-left: 5px;
  padding-right: 5px;
}

.genres {
  background-color: rgb(251, 249, 249);
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 8px;
  list-style: none;
  padding-left: 5px;
  display: none;
}

.genres li {
  padding: 0;
  margin-top: 10px;
}

.browse:hover .genres {
  display: block;
}

.community-options {
  background-color: rgb(251, 249, 249);
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 8px;
  list-style: none;
  padding-left: 5px;
  display: none;
}

.community-options li {
  padding: 0;
  margin-top: 10px;
}

.community:hover .community-options {
  display: block;
}

#main {
  margin-left: 100px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

header {
  /* background-color: pink; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page-logo a {
  margin: 10px;
  font-size: 50px;
  text-decoration: none;
  color: black;
}

nav {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  width: 90px;
}

nav a {
  text-decoration: none;
  text-align: center;
}

nav p {
  display: none;
}

nav a:hover p {
  display: block;
  font-size: 12px;
  color: black;
}

#hero {
  background-image: url("/images/bookshelf.png");
  height: 350px;
  border-radius: 30px;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-left: 8px;
}

#hero-content ul {
  position: relative;
  list-style: none;
  background-color: rgba(193, 193, 202, 0.6);
  border-radius: 5px;
  top: 200px;
  display: inline-block;
  padding: 10px;
}

#hero-content li {
  width: 300px;
}

#featured-title h2 {
  margin: 0;
}

#story-info {
  display: flex;
  justify-content: space-between;
}

#story-info p {
  font-size: 14px;
}

#actions {
  display: flex;
  justify-content: space-between;
}

#actions a {
  text-decoration: none;
  color: black;
  background-color: rgb(255, 254, 254);
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  padding: 5px;
}

#actions a:hover {
  background-color: rgb(183, 181, 181);
}

#stories-authors {
  margin: 0;
}

#stories-authors ul {
  list-style: none;
  background-color: rgb(255, 254, 254);
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  display: flex;
  justify-content: space-between;
  margin: 16px auto;
  padding-left: 0;
  width: 400px;
  overflow: hidden;
  font-size: 20px;
}

#stories-authors li {
  width: 200px;
  padding: 10px 55px;
}

#stories-authors li:hover {
  background-color: rgb(183, 181, 181);
}

#stories-label {
  border-right: solid black 1px;
}

#story-list {
  /* background-color: lightcoral; */
}

#list-of-stories ul {
}

.story-list-item {
  list-style: none;
  border-bottom: solid rgb(82, 81, 81) 1px;
  padding: 20px;
}

.story-list-item article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.story-list-item img {
  height: 150px;
  border-radius: 30px;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.5);
  margin: 20px;
}

.story-details {
  display: flex;
  width: 1000px;
}

.story-details p {
  color: grey;
}

#footer {
  background-color: lightcyan;
}
