<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New User</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/new-story.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:wght@400;900&display=swap"
      rel="stylesheet">
  </head>

  <body>
    <!-- Side navigation -->
    <%- include("includes/sidebar.ejs") %>
      <main id="main">
        <%- include("includes/header.ejs") %>
          <form action="/create-user" method="post">
            <div>
              <label for="username">User Name: </label>
              <input type="text" id="username" name="username" required placeholder="e.g. Jane Doe">
            </div>
            <div>
              <label for="password">Password: </label>
              <input type="text" id="password" name="password" required>
            </div>
            <div>
              <label for="joindate">Join Date: </label>
              <input type="date" id="joindate" name="joindate" min="2023-01-01" max="2025-12-31">
            </div>

            <section class="genre-options">
              <p> Favored Genres (Choose 3 Max)</p>
              <ul>
                <li class="form-control-inline">
                  <input type="checkbox" id="fantasy" name="favoredGenres" value="fantasy" />
                  <label for="fantasy">Fantasy</label>
                </li>
                <li class="form-control-inline">
                  <input type="checkbox" id="romance" name="favoredGenres" value="romance" />
                  <label for="romance">Romance</label>
                </li>
                <li class="form-control-inline">
                  <input type="checkbox" id="action" name="favoredGenres" value="action" />
                  <label for="action">Action</label>
                </li>
                <li class="form-control-inline">
                  <input type="checkbox" id="adventure" name="favoredGenres" value="adventure" />
                  <label for="adventure">Adventure</label>
                </li>
                <li class="form-control-inline">
                  <input type="checkbox" id="drama" name="favoredGenres" value="drama" />
                  <label for="drama">Drama</label>
                </li>
                <li class="form-control-inline">
                  <input type="checkbox" id="horror" name="favoredGenres" value="horror" />
                  <label for="horror">Horror</label>
                </li>
                <li class="form-control-inline">
                  <input type="checkbox" id="comedy" name="favoredGenres" value="comedy" />
                  <label for="comedy">Comedy</label>
                </li>
                <li class="form-control-inline">
                  <input type="checkbox" id="angst" name="favoredGenres" value="angst" />
                  <label for="angst">Angst</label>
                </li>
                <li class="form-control-inline">
                  <input type="checkbox" id="fanfiction" name="favoredGenres" value="fanfiction" />
                  <label for="fanfiction">Fanfiction</label>
                </li>
                <li class="form-control-inline">
                  <input type="checkbox" id="original" name="favoredGenres" value="original" />
                  <label>Original</label>
                </li>
                <li class="form-control-inline">
                  <input type="checkbox" id="other" name="favoredGenres" value="other" />
                  <label for="other">Other</label>
                </li>
              </ul>
            </section>

            <div>
              <label for="userintro">User Introduction: </label>
              <textarea id="userintro" name="userintro" rows="5"></textarea>
            </div>
            <button type="reset">Cancel</button>
            <button>Submit</button>
          </form>
      </main>
      <%- include("includes/footer.ejs") %>
  </body>

</html>