<!DOCTYPE html>
<html lang="en">

  <head>
    <title>📚 Readly.</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:wght@400;900&display=swap"
      rel="stylesheet">
    <script src="/scripts/story-obj.js" defer></script>
    <script src="/scripts/index.js" defer></script>
  </head>

  <body>
    <!-- Side navigation -->
    <%- include('includes/sidebar.ejs') %>
      <!-- Page Content -->
      <section id="main">
        <%- include("includes/header.ejs") %>
          <main>
            <section id="hero">
              <div id="hero-content">
                <ul>
                  <li id="featured-title">
                    <h2>Featured Story</h2>
                  </li>
                  <li id="story-info">
                    <p>Author Name</p>
                    <p>Date Created/Last Updated</p>
                  </li>
                  <li id="actions">
                    <a href="">Check out story</a>
                    <a href="">Upvotes/views</a>
                  </li>
                </ul>
              </div>
            </section>
            <section id="stories-authors">
              <ul>
                <li id="stories-label">
                  <button id="show-stories-btn">Show Stories</button>
                </li>
                <li id="authors-label">
                  <button id="show-authors-btn">Show Authors</button>
                </li>
              </ul>
            </section>
            <section id="story-list">
              <!-- <button class="home-page-btn" id="add-new-story-btn">Add New Story Object</button> -->
              <ul class="list-of-stories">
                <% for(const story of stories ) { %>
                  <%- include('includes/stories/story-item.ejs', {story: story}) %>
                    <% } %>
              </ul>
              <ul class="list-of-stories"></ul>
            </section>
            <section id="author-list">
              <!-- <button class="home-page-btn" id="add-new-author-btn">Add New Author Object</button> -->
              <ul class="list-of-authors">
                <!-- <li class="author-list-item">
              <article>
                <a href="user-profile.html">
                  <span class="author-name">Desmond Hardin
                    <span class="author-at">(@Desmond_Hardin)</span>
                  </span>
                </a>
                <h5 class="date-author-joined">Date Joined: 1.23.2023</h5>
                <div class="author-intro-div">
                  <button class="home-page-btn">Author Introduction:</button>
                  <p class="brief-intro">Hi my name is Bob and I love to write romance stories!</p>
                  <p class="long-intro">Hi my name is Bob and I love to write romance stories!
                    Lorem ipsum odor amet, consectetuer adipiscing elit. Nisl a urna egestas eget non
                    nullam. Sed phasellus enim conubia; interdum senectus curae faucibus. Mattis etiam
                    laoreet porta justo consectetur felis rhoncus tellus.
                  </p>
                </div>
                <div class="work-info-div">
                  <p># of Works: 2</p>
                  <p>Favored genres:</p>
                  <ul>
                    <li>Romance</li>
                    <li>Drama</li>
                    <li>Angst</li>
                  </ul>
                </div>
                <div class="follow-div">
                  <p>Followers: 45</p>
                  <p>Following: 154</p>
                </div>
              </article>
            </li>
            <li class="author-list-item">
              <article>
                <a href="user-profile.html">
                  <span class="author-name">Mona Mora
                    <span class="author-at">(@Mona_Mora)</span>
                  </span>
                </a>
                <h5 class="date-author-joined">Date Joined: 7.09.2019</h5>
                <div class="author-intro-div">
                  <button class="home-page-btn">Author Introduction:</button>
                  <p class="brief-intro">Hi my name is Mona and I love to write action stories!</p>
                  <p class="long-intro">Hi my name is Mona and I love to write action stories!
                    Lorem ipsum odor amet, consectetuer adipiscing elit. Nisl a urna egestas eget non
                    nullam. Sed phasellus enim conubia; interdum senectus curae faucibus. Mattis etiam
                    laoreet porta justo consectetur felis rhoncus tellus.
                  </p>
                </div>
                <div class="work-info-div">
                  <p># of Works: 12</p>
                  <p>Favored genres:</p>
                  <ul>
                    <li>Action</li>
                    <li>Comedy</li>
                    <li>Romance</li>
                  </ul>
                </div>
                <div class="follow-div">
                  <p>Followers: 607</p>
                  <p>Following: 54</p>
                </div>
              </article>
            </li>
            <li class="author-list-item">
              <article>
                <a href="user-profile.html">
                  <span class="author-name">Fidel Mclaughlin</span>
                  <span class="author-at">(@Fidel_Mclaughlin)</span>
                </a>
                <h5 class="date-author-joined">Date Joined: 12.11.2022</h5>
                <div class="author-intro-div">
                  <button class="home-page-btn">Author Introduction:</button>
                  <p class="brief-intro">Hi my name is Fidel and I love to write comedy stories!</p>
                  <p class="long-intro">Hi my name is Fidel and I love to write romance stories!
                    Lorem ipsum odor amet, consectetuer adipiscing elit. Nisl a urna egestas eget non
                    nullam. Sed phasellus enim conubia; interdum senectus curae faucibus. Mattis etiam
                    laoreet porta justo consectetur felis rhoncus tellus.
                  </p>
                </div>
                <div class="work-info-div">
                  <p># of Works: 6</p>
                  <p>Favored genres:</p>
                  <ul>
                    <li>Comedy</li>
                    <li>Action</li>
                    <li>Drama</li>
                  </ul>
                </div>
                <div class="follow-div">
                  <p>Followers: 12</p>
                  <p>Following: 65</p>
                </div>
              </article>
            </li> -->
                <% for(user of users) { %>
                  <%- include('includes/users/user-item.ejs', {user: user}) %>
                    <% } %>
              </ul>
            </section>
          </main>
          <footer id="footer">
            <p>📚 Readly.</p>
            <a href="https://github.com/christina-cs-foothill" target="_blank">(Christina Hunter)</a>
          </footer>
      </section>
  </body>

</html>