<!DOCTYPE html>
<html lang="en">

  <head>
    <title>📚 Readly.</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:wght@400;900&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/new-story.css">
    <script>
      let goBack = function () {
        if (confirm("Are you sure? All data entered in this page will be discarded.")) {
          history.back();
        }
      }
    </script>
  </head>

  <body>
    <!-- Side navigation -->
    <%- include('includes/sidebar.ejs') %>

      <!-- Page Content -->
      <section id="main">
        <%- include("includes/header.ejs") %>

          <section class="create-new-story">
            <form action="/new-story" method="post">
              <ul>
                <li class="non-editable">
                  <label for="author-name">Author ID:</label>
                  <input type="text" name="authorid" id="author-id" value="<%= userId %>" readonly />
                </li>
                <li>
                  <label for="story-title">New Story Title</label>
                  <input type="text" name="storytitle" id="story-title" required />
                </li>

                <section class="genre-options">
                  <p>Genre (Choose at least 1)</p>
                  <ul>
                    <li class="form-control-inline">
                      <input type="checkbox" id="romance" name="genre" value="romance" />
                      <label for="romance">Romance</label>
                    </li>
                    <li class="form-control-inline">
                      <input type="checkbox" id="action" name="genre" value="action" />
                      <label for="action">Action</label>
                    </li>
                    <li class="form-control-inline">
                      <input type="checkbox" id="adventure" name="genre" value="adventure" />
                      <label for="adventure">Adventure</label>
                    </li>
                    <li class="form-control-inline">
                      <input type="checkbox" id="drama" name="genre" value="drama" />
                      <label for="drama">Drama</label>
                    </li>
                    <li class="form-control-inline">
                      <input type="checkbox" id="horror" name="genre" value="horror" />
                      <label for="horror">Horror</label>
                    </li>
                    <li class="form-control-inline">
                      <input type="checkbox" id="comedy" name="genre" value="comedy" />
                      <label for="comedy">Comedy</label>
                    </li>
                    <li class="form-control-inline">
                      <input type="checkbox" id="angst" name="genre" value="angst" />
                      <label for="angst">Angst</label>
                    </li>
                    <li class="form-control-inline">
                      <input type="checkbox" id="fanfiction" name="genre" value="fanfiction" />
                      <label for="fanfiction">Fanfiction</label>
                    </li>
                    <li class="form-control-inline">
                      <input type="checkbox" id="original" name="genre" value="original" />
                      <label>Original</label>
                    </li>
                    <li class="form-control-inline">
                      <input type="checkbox" id="other" name="genre" value="other" />
                      <label for="other">Other</label>
                    </li>
                  </ul>
                </section>

                <li>
                  <label for="story-summary">Story Summary/Description</label>
                  <textarea rows="5" type="text" name="storysummary" id="story-summary" required></textarea>
                </li>
              </ul>

              <section class="buttons">
                <button type="submit">Create/Post</button>
                <button type="button" onclick="goBack()">Cancel</button>
              </section>

            </form>
          </section>
          <footer id="footer">
            <p>📚 Readly.</p>
            <a href="https://github.com/christina-cs-foothill" target="_blank">(Christina Hunter)</a>
          </footer>
      </section>
  </body>

</html>