body {
  font-family: "Merriweather", sans-serif;
  background: linear-gradient(0deg, white, rgb(222, 221, 221));
}

#side-bar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 9%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  /* background-color: rgb(222, 220, 220); */
  background: linear-gradient(0deg, white, rgb(194, 194, 194));
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-left: 0.33rem;
  padding-right: 0.33rem;
  font-size: 1rem;
  color: rgb(40, 39, 39);
}

.side-bar-actions {
  /* background-color: rgb(251, 249, 249); */
  background-color: rgb(194, 194, 194);
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 8px;
  list-style: none;
  padding: 0;
  display: none;
  overflow: hidden;
  margin: 0.5rem;
}

.side-bar-actions li {
  padding: 0;
  font-size: 0.9rem;
  margin: 0.625rem;
}

.side-bar-actions li:hover {
  color: purple;
}

.browse:hover .side-bar-actions {
  display: block;
}

.community:hover .side-bar-actions {
  display: block;
}

#main {
  margin-left: 10%; /* little more than the width of the sidebar */
  padding: 0px 0.625rem;
}

header {
  /* background-color: pink; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page-logo a {
  margin: 0.625rem;
  font-size: 3.125rem;
  text-decoration: none;
  color: rgb(42, 42, 42);
}

nav {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  width: 5.625rem;
}

nav a {
  text-decoration: none;
  text-align: center;
}

nav p {
  display: none;
}

nav a:hover p {
  display: block;
  font-size: 0.75rem;
  color: black;
}

#hero {
  background-image: url("/images/bookshelf.png");
  height: 20rem;
  border-radius: 30px;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.5);
  padding: 2rem;
  margin-left: 0.5rem;
}

#hero-content ul {
  position: relative;
  list-style: none;
  background-color: rgba(206, 206, 206, 0.6);
  border-radius: 10px;
  top: 190px;
  display: inline-block;
  padding: 1%;
}

#hero-content li {
  width: 18.75rem;
}

#featured-title h2 {
  margin: 0;
}

#story-info {
  display: flex;
  justify-content: space-between;
}

#story-info p {
  font-size: 0.875rem;
}

#actions {
  display: flex;
  justify-content: space-between;
}

#actions a {
  text-decoration: none;
  color: black;
  background-color: rgb(255, 254, 254);
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
}

#actions a:hover {
  background-color: rgb(183, 181, 181);
}

#stories-authors {
  margin: 0;
}

#stories-authors ul {
  list-style: none;
  background-color: rgb(255, 254, 254);
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  padding-left: 0;
  width: 21.25rem;
  overflow: hidden;
  font-size: 1.25rem;
}

#stories-authors li {
  width: 10rem;
  padding: 10px;
  display: flex;
  justify-content: center;
}

#stories-authors li:hover {
  background-color: rgb(183, 181, 181);
}

#stories-label {
  border-right: solid black 1px;
}

#story-list {
  display: block;
}

#list-of-stories ul {
}

.story-list-item {
  list-style: none;
  border-bottom: solid rgb(82, 81, 81) 1px;
  padding: 20px;
}

.story-list-item article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.story-list-item img {
  height: 150px;
  width: 150px;
  object-fit: cover; /*makes sure image won't distort*/
  opacity: 0.8;
  border-radius: 30px;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.5);
  margin: 20px;
}

.story-details {
  display: flex;
  align-items: center;
  width: 1000px;
}

.story-details p {
  color: grey;
}

.upvotes-views {
  text-align: right;
}

#author-list {
  display: none;
}

#author-list ul {
  list-style: none;
}

.author-list-item {
  margin-bottom: 20px;
  border-bottom: solid rgb(201 193 193) 1px;
}

.author-list-item a {
  text-decoration: none;
}

.author-list-item span:hover {
  color: purple;
}

.author-list-item span {
  font-size: 1.5rem;
}

.author-name {
  color: black;
}

.author-at {
  color: grey;
}

.author-intro-div {
  padding: 10px;
  border: 1px solid rgb(151, 140, 140);
  border-radius: 3px;
}

.brief-intro {
  display: none;
}

.long-intro {
  display: block;
}

.work-info-div {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.work-info-div p {
  padding: 10px;
  margin: 0;
}

.work-info-div ul {
  display: inline-flex;
  margin: 0;
  padding: 0;
}

.work-info-div li {
  padding: 5px 20px;
  margin: 0 10px;
  background-color: rgb(201, 189, 189);
}

.follow-div {
  display: flex;
  margin-bottom: 10px;
}

.follow-div p {
  padding: 10px;
  margin: 0;
}

#footer {
  text-align: center;
  color: grey;
  margin-top: 1px;
}

#footer a {
  text-decoration: none;
  color: grey;
}

#footer a:hover {
  color: black;
}

.home-page-btn {
  padding: 0.5rem 1rem;
  font: inherit;
}

.link-button {
  margin-bottom: 16px;
}

.link-button a {
  padding: 0.25rem 0.5rem;
  border: 1px solid grey;
  border-radius: 3px;
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.link-button a:hover {
  background-color: aliceblue;
  border-color: aliceblue;
}

.secret-btn {
  display: none;
}

@media (max-width: 768px) {
}
