ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  color: rgb(80, 80, 80);
  display: block;
}

input,
textarea,
select {
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid grey;
  resize: none;
  margin: 0.25rem 0;
  padding: 0.25rem;
  font: inherit;
  display: block;
}

#story-text {
  height: 600px;
}

.genre-options p {
  margin: 0;
}

.genre-options ul {
  display: flex;
}

.form-control-inline {
  display: flex;
  flex-direction: row;
  margin: 8px;
}

.form-control-inline input {
  width: auto;
  margin-right: 0.5rem;
}

.non-editable input {
  background-color: grey;
}


.buttons {
  text-align: right;
}

button {
  padding: 0.5rem 1rem;
  border: 1px solid grey;
  border-radius: 3px;
}

button:hover {
  background-color: aliceblue;
  border-color: aliceblue;
}
