#story-section {
  text-align: center;
  border: 1px solid rgb(150, 146, 146);
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
}

#story-section img {
  height: 300px;
  width: 300px;
  object-fit: cover; /*makes sure image won't distort*/
  border-radius: 30px;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.5);
  margin: auto;
  margin-bottom: 16px;
  display: block;
  text-align: center;
}

#story-section button {
  display: block;
  margin: 16px auto;
}

#story-section h1 {
  text-decoration: underline;
  margin: 8px;
}

#author-name {
  color: grey;
  text-decoration: none;
}

#author-name:hover {
  color: black;
}

#genres-list {
  list-style: none;
  padding: 0;
  margin: 8px auto 8px auto;
  display: flex;
  justify-content: center;
}

#genres-list p {
  padding: 5px 20px;
  margin: 0 8px 0 8px;
  background-color: rgb(201, 189, 189);
  width: fit-content;
}

#story-details {
  margin-bottom: 8px;
}

#story-details span {
  margin: 8px;
}

#story-summary {
  margin: auto;
  width: 600px;
}

#story-summary p {
  margin: 0;
}

#chapter-section {
  text-align: center;
  margin: 50px 16px;
}

#chapters-list {
  list-style: none;
  padding: 0;
}

.chapter-title {
  text-decoration: underline;
}

.chapter-summary {
  color: rgb(53, 50, 50);
  width: 600px;
  margin: auto;
}
