/* .user-profile {
  text-align: center;
  height: 900px;
}

.user-profile p {
  padding-top: 450px;
} */

.list-of-authors {
  list-style: none;
}

img {
  height: 150px;
  width: 150px;
  object-fit: cover; /*makes sure image won't distort*/
  opacity: 0.8;
  border-radius: 30px;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.5);
  display: block;
  margin: 16px 0 16px 0;
}
